<h2>Edit This Excercise</h2>

<form action="/update" method="get">
  <fieldset>
    <p>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" value="{{this.date}}">
    </p>
    <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" size="20" value="{{this.name}}">
    </p>
    <p>
    <label for="reps"># Reps:</label>
    <input type="number" name="reps" id="reps" value="{{this.reps}}">
    </p>
    <p>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight" value="{{this.weight}}">
    {{#if lbs}}
        <label>lbs</label>
        <input type="radio" name="units" value="1" checked="true">
        <label>kilos</label>
        <input type="radio" name="units" value="0">
    {{else}}
        <label>lbs</label>
        <input type="radio" name="units" value="1">
        <label>kilos</label>
        <input type="radio" name="units" value="0" checked="true">
    {{/if}}
    </p>
    <input type="hidden" name="id" value="{{this.id}}">
    <p>
    <input type="submit" value="Save" id="editExercise">
    </p>
  </fieldset>
</form>
